Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [12]:
import pandas as pd
series1 = pd.Series([4,8,15,16,23,42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(data_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name       Age   Gender
Alice       25   Female
Bob         30   Male
Claire      27   Female
Then, print the DataFrame.

In [4]:
import pandas as pd

# Define the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer:-DataFrame in Pandas
A DataFrame in Pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is essentially a table similar to a spreadsheet or a SQL table. Each column in a DataFrame can be of different data types (e.g., integers, floats, strings).

Series in Pandas
A Series in Pandas is a one-dimensional array-like object containing an array of data and an associated array of data labels, called its index. It is similar to a single column of a DataFrame.

Key Differences
1.Dimensionality:
Series: One-dimensional.
DataFrame: Two-dimensional.
2.Structure:
Series: Can be seen as a single column of data.
DataFrame: A table with multiple columns and rows.
3.Use Case:
Series: Ideal for handling a single column of data.
DataFrame: Suitable for handling multiple columns and more complex data structures.

Example:-

In [6]:
import pandas as pd

# Creating a Series
data = [1, 2, 3, 4, 5]
series = pd.Series(data)

# Print the Series
print("Series:")
print(series)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# Creating a DataFrame
data = {
    'Column1': [1, 2, 3, 4, 5],
    'Column2': ['A', 'B', 'C', 'D', 'E']
}
df = pd.DataFrame(data)

# Print the DataFrame
print("\nDataFrame:")
print(df)

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Answer:-1.head() and tail():
Use: Quickly view the first or last few rows of the DataFrame.
Example: Use df.head(5) to view the first 5 rows of the DataFrame.
2.info():
Use: Get a concise summary of the DataFrame, including the index dtype and columns, non-null values, and memory usage.
Example: Use df.info() to get an overview of the DataFrame's structure and data types.
3.describe():
Use: Generate descriptive statistics of the DataFrame, including mean, median, standard deviation, etc.
Example: Use df.describe() to get a summary of the numerical columns.
4.drop():
Use: Remove rows or columns from the DataFrame.
Example: Use df.drop('column_name', axis=1) to drop a column named 'column_name'.
5.sort_values():
Use: Sort the DataFrame by one or more columns.
Example: Use df.sort_values(by='column_name') to sort the DataFrame by 'column_name'.
6.groupby():
Use: Group the DataFrame using a column or columns, often used with aggregation functions.
Example: Use df.groupby('column_name').mean() to group by 'column_name' and compute the mean for each group.
7.apply():
Use: Apply a function along an axis of the DataFrame.
Example: Use df['column_name'].apply(lambda x: x * 2) to double the values in 'column_name'.
8.merge() and concat():
Use: Combine two or more DataFrames.
Example: Use pd.merge(df1, df2, on='key') to merge DataFrames df1 and df2 on the 'key' column.
9.pivot_table():
Use: Create a spreadsheet-style pivot table as a DataFrame.
Example: Use df.pivot_table(values='value', index='index', columns='column') to pivot the DataFrame.
10.isnull() and fillna():
Use: Detect and handle missing values.
Example: Use df['column_name'].fillna(0) to replace all NaN values in 'column_name' with 0.

For Example use case:-
use groupby() when analyzing sales data to find the total sales for each product category:

In [13]:
df = pd.DataFrame({
    'Product': ['A', 'B', 'A', 'C'],
    'Sales': [100, 150, 200, 50]
})
grouped_sales = df.groupby('Product')['Sales'].sum()
print(grouped_sales)


#This aggregates the sales data by Product, showing total sales per category.

Product
A    300
B    150
C     50
Name: Sales, dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer:-In pandas, Series and DataFrame are mutable in nature.

Panel is considered immutable.

That means, Series and DataFrame objects can be modified after they are created, and any changes made to them will be reflected in the original objects. On the other hand, Panel objects are generally not modified once created, and any changes made to them usually result in the creation of a new object.

Note that while Series and DataFrame objects are mutable, it is generally recommended to avoid modifying them in place, as this can lead to unexpected results and errors. Instead, it is often better to create a new object with the desired modifications.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Answer:-create a DataFrame using multiple Series by combining them into columns. Each Series represents a column in the resulting DataFrame. Here's an example to demonstrate how to do this:

Example:
Let's create a DataFrame for student data using multiple Series:

Step-by-Step Code:
Create individual Series representing different attributes.
Combine the Series into a DataFrame.

In [10]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
grades = pd.Series(['A', 'B', 'A'])

# Creating a DataFrame using the Series
student_df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Grade': grades
})

# Display the DataFrame
print(student_df)

      Name  Age Grade
0    Alice   25     A
1      Bob   30     B
2  Charlie   27     A

The Above Code Explanation:
Each Series (names, ages, grades) represents a column in the DataFrame.
The DataFrame is created by combining the Series into a dictionary format, where keys represent column names ('Name', 'Age', 'Grade').
Pandas aligns the data by index, so each row contains data from corresponding positions across the Series.